<settings>
	
	<setting propertyKey="@Properties.keyOW" title="@Strings.keyOW" prompt="@Strings.KeyOWPrompt" helpUrl="https://home.openweathermap.org/api_keys">
		<settingConfig type="alphaNumeric" />
	</setting>

	<setting propertyKey="@Properties.SwitchDayNight"
		title="@Strings.SwitchDayNight">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.SettingsType"
		title="@Strings.SettingsType">
		<settingConfig type="list">
			<listEntry value="0">@Strings.SettingsDontChange</listEntry>
			<listEntry value="1">@Strings.SettingsGlobal</listEntry>
			<listEntry value="2">@Strings.SettingsDay</listEntry>
			<listEntry value="3">@Strings.SettingsNight</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.WUpdInt" title="@Strings.WUpdInt">
		<settingConfig type="numeric" min="10" max="120"/>
	</setting>

	<!--CLOCK SETTING -->
	
	<setting propertyKey="@Properties.MilFt"
		title="@Strings.MilFt">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.HFt01"
		title="@Strings.HFt01">
		<settingConfig type="boolean" />
	</setting>

	<!--DATE FORMAT -->
	<setting propertyKey="@Properties.DF"
		title="@Strings.DF" prompt="@Strings.DFHELP">
		<settingConfig type="alphaNumeric" />
	</setting>

	<!--UNIT PRESSURE -->
	<setting propertyKey="@Properties.PrU"
		title="@Strings.PrU">
		<settingConfig type="list">
			<listEntry value="0">@Strings.PrUMmHg</listEntry>
			<listEntry value="1">@Strings.PrUPsi</listEntry>
			<listEntry value="2">@Strings.PrUInchHg</listEntry>
			<listEntry value="3">@Strings.PrUBar</listEntry>
			<listEntry value="4">@Strings.PrUKPa</listEntry>
		</settingConfig>
	</setting>
	
	<!--UNIT WIND SPEED -->
	<setting propertyKey="@Properties.WU"
		title="@Strings.WU">
		<settingConfig type="list">
			<listEntry value="0">@Strings.SpeedUnitMSec</listEntry>
			<listEntry value="1">@Strings.SpeedUnitKmH</listEntry>
			<listEntry value="2">@Strings.SpeedUnitMileH</listEntry>
			<listEntry value="3">@Strings.SpeedUnitFtSec</listEntry>
			<listEntry value="4">@Strings.SpeedUnitBof</listEntry>
			<listEntry value="5">@Strings.SpeedUnitKnots</listEntry>
		</settingConfig>
	</setting>

  	<setting propertyKey="@Properties.T1TZ" title="@Strings.T1TZ">
		<settingConfig type="numeric" min="-720" max="840"/>
	</setting>
  
    <setting propertyKey="@Properties.BgndColor" title="@Strings.BgndColor">
        <settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
        </settingConfig>
    </setting>
  
    <setting propertyKey="@Properties.TimeColor" title="@Strings.TimeColor">
        <settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
        </settingConfig>
    </setting>

   <setting propertyKey="@Properties.DateColor" title="@Strings.DateColor">
        <settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
        </settingConfig>
    </setting>
	
	<!--WEATHER -->
	<setting propertyKey="@Properties.WType"
		title="@Strings.WType">
		<settingConfig type="list">
			<listEntry value="0">@Strings.WTypeWeather</listEntry>
			<listEntry value="1">@Strings.WTypeHeartRateHistory</listEntry>
			<listEntry value="2">@Strings.WTypeSaturationHistory</listEntry>
			<listEntry value="3">@Strings.WTypeTemperatureHistory</listEntry>
			<listEntry value="4">@Strings.WTypePressureHistory</listEntry>
			<listEntry value="5">@Strings.WTypeElevationHistory</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.WColor"
		title="@Strings.WColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.WAutoColor"
		title="@Strings.WAutoColor">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.ShowOWMIcons"
		title="@Strings.ShowOWMIcons">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.WShowWindWidget"
		title="@Strings.WShowWindWidget">
		<settingConfig type="boolean" />
	</setting>
	
	<setting propertyKey="@Properties.WindArrowContour"
		title="@Strings.WindArrowContour">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.ShowTopFields"
		title="@Strings.ShowTopFields">
		<settingConfig type="boolean" />
	</setting>

	<!--BATTERY -->
	<setting propertyKey="@Properties.BatColor"
		title="@Strings.BatColor">
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<!--STATUS -->

	<setting propertyKey="@Properties.SF0"
		title="@Strings.SF0">
		<settingConfig type="list">
			<listEntry value="18">@Strings.FIELD_TYPE_CONNECTED</listEntry>
			<listEntry value="19">@Strings.FIELD_TYPE_NOTIFICATIONS</listEntry>
			<listEntry value="24">@Strings.FIELD_TYPE_NOTIFICATIONS_COUNT</listEntry>
			<listEntry value="20">@Strings.FIELD_TYPE_DND</listEntry>
			<listEntry value="21">@Strings.FIELD_TYPE_ALARMS</listEntry>
			<listEntry value="25">@Strings.FIELD_TYPE_ALARMS_COUNT</listEntry>
			<listEntry value="22">@Strings.FIELD_TYPE_AMPM</listEntry>
			<listEntry value="23">@Strings.FIELD_TYPE_SECONDS</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.SFC0"
		title="@Strings.SFC0" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.SF1"
		title="@Strings.SF1">
		<settingConfig type="list">
			<listEntry value="18">@Strings.FIELD_TYPE_CONNECTED</listEntry>
			<listEntry value="19">@Strings.FIELD_TYPE_NOTIFICATIONS</listEntry>
			<listEntry value="24">@Strings.FIELD_TYPE_NOTIFICATIONS_COUNT</listEntry>
			<listEntry value="20">@Strings.FIELD_TYPE_DND</listEntry>
			<listEntry value="21">@Strings.FIELD_TYPE_ALARMS</listEntry>
			<listEntry value="25">@Strings.FIELD_TYPE_ALARMS_COUNT</listEntry>
			<listEntry value="22">@Strings.FIELD_TYPE_AMPM</listEntry>
			<listEntry value="23">@Strings.FIELD_TYPE_SECONDS</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.SFC1"
		title="@Strings.SFC1" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.SF2"
		title="@Strings.SF2">
		<settingConfig type="list">
			<listEntry value="18">@Strings.FIELD_TYPE_CONNECTED</listEntry>
			<listEntry value="19">@Strings.FIELD_TYPE_NOTIFICATIONS</listEntry>
			<listEntry value="24">@Strings.FIELD_TYPE_NOTIFICATIONS_COUNT</listEntry>
			<listEntry value="20">@Strings.FIELD_TYPE_DND</listEntry>
			<listEntry value="21">@Strings.FIELD_TYPE_ALARMS</listEntry>
			<listEntry value="25">@Strings.FIELD_TYPE_ALARMS_COUNT</listEntry>
			<listEntry value="22">@Strings.FIELD_TYPE_AMPM</listEntry>
			<listEntry value="23">@Strings.FIELD_TYPE_SECONDS</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.SFC2"
		title="@Strings.SFC2" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.SF3"
		title="@Strings.SF3">
		<settingConfig type="list">
			<listEntry value="18">@Strings.FIELD_TYPE_CONNECTED</listEntry>
			<listEntry value="19">@Strings.FIELD_TYPE_NOTIFICATIONS</listEntry>
			<listEntry value="24">@Strings.FIELD_TYPE_NOTIFICATIONS_COUNT</listEntry>
			<listEntry value="20">@Strings.FIELD_TYPE_DND</listEntry>
			<listEntry value="21">@Strings.FIELD_TYPE_ALARMS</listEntry>
			<listEntry value="25">@Strings.FIELD_TYPE_ALARMS_COUNT</listEntry>
			<listEntry value="22">@Strings.FIELD_TYPE_AMPM</listEntry>
			<listEntry value="23">@Strings.FIELD_TYPE_SECONDS</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.SFC3"
		title="@Strings.SFC3" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.SF4"
		title="@Strings.SF4">
		<settingConfig type="list">
			<listEntry value="18">@Strings.FIELD_TYPE_CONNECTED</listEntry>
			<listEntry value="19">@Strings.FIELD_TYPE_NOTIFICATIONS</listEntry>
			<listEntry value="24">@Strings.FIELD_TYPE_NOTIFICATIONS_COUNT</listEntry>
			<listEntry value="20">@Strings.FIELD_TYPE_DND</listEntry>
			<listEntry value="21">@Strings.FIELD_TYPE_ALARMS</listEntry>
			<listEntry value="25">@Strings.FIELD_TYPE_ALARMS_COUNT</listEntry>
			<listEntry value="22">@Strings.FIELD_TYPE_AMPM</listEntry>
			<listEntry value="23">@Strings.FIELD_TYPE_SECONDS</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.SFC4"
		title="@Strings.SFC4" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.SF5"
		title="@Strings.SF5">
		<settingConfig type="list">
			<listEntry value="18">@Strings.FIELD_TYPE_CONNECTED</listEntry>
			<listEntry value="19">@Strings.FIELD_TYPE_NOTIFICATIONS</listEntry>
			<listEntry value="24">@Strings.FIELD_TYPE_NOTIFICATIONS_COUNT</listEntry>
			<listEntry value="20">@Strings.FIELD_TYPE_DND</listEntry>
			<listEntry value="21">@Strings.FIELD_TYPE_ALARMS</listEntry>
			<listEntry value="25">@Strings.FIELD_TYPE_ALARMS_COUNT</listEntry>
			<listEntry value="22">@Strings.FIELD_TYPE_AMPM</listEntry>
			<listEntry value="23">@Strings.FIELD_TYPE_SECONDS</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.SFC5"
		title="@Strings.SFC5" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<!--FIELD TYPES -->
	
	<setting propertyKey="@Properties.F6"
		title="@Strings.F6">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUNSET</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_TIME1</listEntry>
			<listEntry value="13">@Strings.FIELD_TYPE_ACTIVE_DAY</listEntry>
			<listEntry value="14">@Strings.FIELD_TYPE_ACTIVE_WEEK</listEntry>
			<listEntry value="15">@Strings.FIELD_TYPE_O2</listEntry>
			<listEntry value="16">@Strings.FIELD_TYPE_SOLAR_CHARGE</listEntry>
			<listEntry value="17">@Strings.FIELD_TYPE_WEIGHT</listEntry>
			<listEntry value="26">@Strings.FIELD_TYPE_WEATHER_PRESSURE</listEntry>
			<listEntry value="27">@Strings.FIELD_TYPE_WEATHER_HUM</listEntry>
			<listEntry value="28">@Strings.FIELD_TYPE_WEATHER_VISIBILITY</listEntry>
			<listEntry value="29">@Strings.FIELD_TYPE_WEATHER_WIND_SPEED</listEntry>
			<listEntry value="30">@Strings.FIELD_TYPE_WEATHER_WIND_DEG</listEntry>
			<listEntry value="31">@Strings.FIELD_TYPE_WEATHER_UVI</listEntry>
			<listEntry value="32">@Strings.FIELD_TYPE_WEATHER_DEW_POINT</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.C6"
		title="@Strings.C6" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F7"
		title="@Strings.F7">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUNSET</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_TIME1</listEntry>
			<listEntry value="13">@Strings.FIELD_TYPE_ACTIVE_DAY</listEntry>
			<listEntry value="14">@Strings.FIELD_TYPE_ACTIVE_WEEK</listEntry>
			<listEntry value="15">@Strings.FIELD_TYPE_O2</listEntry>
			<listEntry value="16">@Strings.FIELD_TYPE_SOLAR_CHARGE</listEntry>
			<listEntry value="17">@Strings.FIELD_TYPE_WEIGHT</listEntry>
			<listEntry value="26">@Strings.FIELD_TYPE_WEATHER_PRESSURE</listEntry>
			<listEntry value="27">@Strings.FIELD_TYPE_WEATHER_HUM</listEntry>
			<listEntry value="28">@Strings.FIELD_TYPE_WEATHER_VISIBILITY</listEntry>
			<listEntry value="29">@Strings.FIELD_TYPE_WEATHER_WIND_SPEED</listEntry>
			<listEntry value="30">@Strings.FIELD_TYPE_WEATHER_WIND_DEG</listEntry>
			<listEntry value="31">@Strings.FIELD_TYPE_WEATHER_UVI</listEntry>
			<listEntry value="32">@Strings.FIELD_TYPE_WEATHER_DEW_POINT</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.C7"
		title="@Strings.C7" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.F0"
		title="@Strings.F0">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUNSET</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_TIME1</listEntry>
			<listEntry value="13">@Strings.FIELD_TYPE_ACTIVE_DAY</listEntry>
			<listEntry value="14">@Strings.FIELD_TYPE_ACTIVE_WEEK</listEntry>
			<listEntry value="15">@Strings.FIELD_TYPE_O2</listEntry>
			<listEntry value="16">@Strings.FIELD_TYPE_SOLAR_CHARGE</listEntry>
			<listEntry value="17">@Strings.FIELD_TYPE_WEIGHT</listEntry>
			<listEntry value="26">@Strings.FIELD_TYPE_WEATHER_PRESSURE</listEntry>
			<listEntry value="27">@Strings.FIELD_TYPE_WEATHER_HUM</listEntry>
			<listEntry value="28">@Strings.FIELD_TYPE_WEATHER_VISIBILITY</listEntry>
			<listEntry value="29">@Strings.FIELD_TYPE_WEATHER_WIND_SPEED</listEntry>
			<listEntry value="30">@Strings.FIELD_TYPE_WEATHER_WIND_DEG</listEntry>
			<listEntry value="31">@Strings.FIELD_TYPE_WEATHER_UVI</listEntry>
			<listEntry value="32">@Strings.FIELD_TYPE_WEATHER_DEW_POINT</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.C0"
		title="@Strings.C0" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F1"
		title="@Strings.F1">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUNSET</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_TIME1</listEntry>
			<listEntry value="13">@Strings.FIELD_TYPE_ACTIVE_DAY</listEntry>
			<listEntry value="14">@Strings.FIELD_TYPE_ACTIVE_WEEK</listEntry>
			<listEntry value="15">@Strings.FIELD_TYPE_O2</listEntry>
			<listEntry value="16">@Strings.FIELD_TYPE_SOLAR_CHARGE</listEntry>
			<listEntry value="17">@Strings.FIELD_TYPE_WEIGHT</listEntry>
			<listEntry value="26">@Strings.FIELD_TYPE_WEATHER_PRESSURE</listEntry>
			<listEntry value="27">@Strings.FIELD_TYPE_WEATHER_HUM</listEntry>
			<listEntry value="28">@Strings.FIELD_TYPE_WEATHER_VISIBILITY</listEntry>
			<listEntry value="29">@Strings.FIELD_TYPE_WEATHER_WIND_SPEED</listEntry>
			<listEntry value="30">@Strings.FIELD_TYPE_WEATHER_WIND_DEG</listEntry>
			<listEntry value="31">@Strings.FIELD_TYPE_WEATHER_UVI</listEntry>
			<listEntry value="32">@Strings.FIELD_TYPE_WEATHER_DEW_POINT</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.C1"
		title="@Strings.C1" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F2"
		title="@Strings.F2">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUNSET</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_TIME1</listEntry>
			<listEntry value="13">@Strings.FIELD_TYPE_ACTIVE_DAY</listEntry>
			<listEntry value="14">@Strings.FIELD_TYPE_ACTIVE_WEEK</listEntry>
			<listEntry value="15">@Strings.FIELD_TYPE_O2</listEntry>
			<listEntry value="16">@Strings.FIELD_TYPE_SOLAR_CHARGE</listEntry>
			<listEntry value="17">@Strings.FIELD_TYPE_WEIGHT</listEntry>
			<listEntry value="26">@Strings.FIELD_TYPE_WEATHER_PRESSURE</listEntry>
			<listEntry value="27">@Strings.FIELD_TYPE_WEATHER_HUM</listEntry>
			<listEntry value="28">@Strings.FIELD_TYPE_WEATHER_VISIBILITY</listEntry>
			<listEntry value="29">@Strings.FIELD_TYPE_WEATHER_WIND_SPEED</listEntry>
			<listEntry value="30">@Strings.FIELD_TYPE_WEATHER_WIND_DEG</listEntry>
			<listEntry value="31">@Strings.FIELD_TYPE_WEATHER_UVI</listEntry>
			<listEntry value="32">@Strings.FIELD_TYPE_WEATHER_DEW_POINT</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.C2"
		title="@Strings.C2" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F3"
		title="@Strings.F3">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUNSET</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_TIME1</listEntry>
			<listEntry value="13">@Strings.FIELD_TYPE_ACTIVE_DAY</listEntry>
			<listEntry value="14">@Strings.FIELD_TYPE_ACTIVE_WEEK</listEntry>
			<listEntry value="15">@Strings.FIELD_TYPE_O2</listEntry>
			<listEntry value="16">@Strings.FIELD_TYPE_SOLAR_CHARGE</listEntry>
			<listEntry value="17">@Strings.FIELD_TYPE_WEIGHT</listEntry>
			<listEntry value="26">@Strings.FIELD_TYPE_WEATHER_PRESSURE</listEntry>
			<listEntry value="27">@Strings.FIELD_TYPE_WEATHER_HUM</listEntry>
			<listEntry value="28">@Strings.FIELD_TYPE_WEATHER_VISIBILITY</listEntry>
			<listEntry value="29">@Strings.FIELD_TYPE_WEATHER_WIND_SPEED</listEntry>
			<listEntry value="30">@Strings.FIELD_TYPE_WEATHER_WIND_DEG</listEntry>
			<listEntry value="31">@Strings.FIELD_TYPE_WEATHER_UVI</listEntry>
			<listEntry value="32">@Strings.FIELD_TYPE_WEATHER_DEW_POINT</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.C3"
		title="@Strings.C3" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F4"
		title="@Strings.F4">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUNSET</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_TIME1</listEntry>
			<listEntry value="13">@Strings.FIELD_TYPE_ACTIVE_DAY</listEntry>
			<listEntry value="14">@Strings.FIELD_TYPE_ACTIVE_WEEK</listEntry>
			<listEntry value="15">@Strings.FIELD_TYPE_O2</listEntry>
			<listEntry value="16">@Strings.FIELD_TYPE_SOLAR_CHARGE</listEntry>
			<listEntry value="17">@Strings.FIELD_TYPE_WEIGHT</listEntry>
			<listEntry value="26">@Strings.FIELD_TYPE_WEATHER_PRESSURE</listEntry>
			<listEntry value="27">@Strings.FIELD_TYPE_WEATHER_HUM</listEntry>
			<listEntry value="28">@Strings.FIELD_TYPE_WEATHER_VISIBILITY</listEntry>
			<listEntry value="29">@Strings.FIELD_TYPE_WEATHER_WIND_SPEED</listEntry>
			<listEntry value="30">@Strings.FIELD_TYPE_WEATHER_WIND_DEG</listEntry>
			<listEntry value="31">@Strings.FIELD_TYPE_WEATHER_UVI</listEntry>
			<listEntry value="32">@Strings.FIELD_TYPE_WEATHER_DEW_POINT</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.C4"
		title="@Strings.C4" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.F5"
		title="@Strings.F5">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FIELD_TYPE_HR</listEntry>
			<listEntry value="1">@Strings.FIELD_TYPE_STEPS</listEntry>
			<listEntry value="2">@Strings.FIELD_TYPE_PRESSURE</listEntry>
			<listEntry value="3">@Strings.FIELD_TYPE_TEMPERATURE</listEntry>
			<listEntry value="4">@Strings.FIELD_TYPE_CALORIES</listEntry>
			<listEntry value="5">@Strings.FIELD_TYPE_DISTANCE</listEntry>
			<listEntry value="6">@Strings.FIELD_TYPE_FLOOR</listEntry>
			<listEntry value="7">@Strings.FIELD_TYPE_ELEVATION</listEntry>
			<listEntry value="8">@Strings.FIELD_TYPE_SUN_EVENT</listEntry>
			<listEntry value="9">@Strings.FIELD_TYPE_SUNRISE</listEntry>
			<listEntry value="10">@Strings.FIELD_TYPE_SUNSET</listEntry>
			<listEntry value="11">@Strings.FIELD_TYPE_TIME1</listEntry>
			<listEntry value="13">@Strings.FIELD_TYPE_ACTIVE_DAY</listEntry>
			<listEntry value="14">@Strings.FIELD_TYPE_ACTIVE_WEEK</listEntry>
			<listEntry value="15">@Strings.FIELD_TYPE_O2</listEntry>
			<listEntry value="16">@Strings.FIELD_TYPE_SOLAR_CHARGE</listEntry>
			<listEntry value="17">@Strings.FIELD_TYPE_WEIGHT</listEntry>
			<listEntry value="26">@Strings.FIELD_TYPE_WEATHER_PRESSURE</listEntry>
			<listEntry value="27">@Strings.FIELD_TYPE_WEATHER_HUM</listEntry>
			<listEntry value="28">@Strings.FIELD_TYPE_WEATHER_VISIBILITY</listEntry>
			<listEntry value="29">@Strings.FIELD_TYPE_WEATHER_WIND_SPEED</listEntry>
			<listEntry value="30">@Strings.FIELD_TYPE_WEATHER_WIND_DEG</listEntry>
			<listEntry value="31">@Strings.FIELD_TYPE_WEATHER_UVI</listEntry>
			<listEntry value="32">@Strings.FIELD_TYPE_WEATHER_DEW_POINT</listEntry>
			<listEntry value="12">@Strings.FIELD_TYPE_EMPTY</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.C5"
		title="@Strings.C5" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.MoonColor"
		title="@Strings.MoonColor" >
		<settingConfig type="list">
			<listEntry value="0xFFFFFF">@Strings.COLOR_WHITE</listEntry>
			<listEntry value="0x000000">@Strings.COLOR_BLACK</listEntry>
			<listEntry value="0xAAAAAA">@Strings.COLOR_LT_GRAY</listEntry>
			<listEntry value="0x555555">@Strings.COLOR_DK_GRAY</listEntry>
			<listEntry value="0xFF0000">@Strings.COLOR_RED</listEntry>
			<listEntry value="0xAA0000">@Strings.COLOR_DK_RED</listEntry>
			<listEntry value="0xFF5500">@Strings.COLOR_ORANGE</listEntry>
			<listEntry value="0xFFAA00">@Strings.COLOR_YELLOW</listEntry>
			<listEntry value="0x00FF00">@Strings.COLOR_GREEN</listEntry>
			<listEntry value="0x00AA00">@Strings.COLOR_DK_GREEN</listEntry>
			<listEntry value="0x00AAFF">@Strings.COLOR_BLUE</listEntry>
			<listEntry value="0x0000FF">@Strings.COLOR_DK_BLUE</listEntry>
			<listEntry value="0xAA00FF">@Strings.COLOR_PURPLE</listEntry>
			<listEntry value="0xFF00FF">@Strings.COLOR_PINK</listEntry>
		</settingConfig>
	</setting>

</settings>
