<settings>
	
	<setting propertyKey="@Properties.keyOW" title="@Strings.keyOW" prompt="@Strings.KeyOWPrompt" helpUrl="https://home.openweathermap.org/api_keys">
		<settingConfig type="alphaNumeric" />
	</setting>

	<setting propertyKey="@Properties.SwitchDayNight"
		title="@Strings.SwitchDayNight">
		<settingConfig type="boolean" />
	</setting>

  	<setting propertyKey="@Properties.T1TZ" title="@Strings.T1TZ">
		<settingConfig type="numeric" min="-720" max="840"/>
	</setting>

	<setting propertyKey="@Properties.GDF"
		title="@Strings.GDF" prompt="@Strings.DFHELP">
		<settingConfig type="alphaNumeric" />
	</setting>
	<setting propertyKey="@Properties.DDF"
		title="@Strings.DDF" prompt="@Strings.DFHELP">
		<settingConfig type="alphaNumeric" />
	</setting>
	<setting propertyKey="@Properties.NDF"
		title="@Strings.NDF" prompt="@Strings.DFHELP">
		<settingConfig type="alphaNumeric" />
	</setting>

</settings>
