<menus>

	<menu2 id="GeneralMenu" title="@Strings.SettingsMenu">
		<toggle-menu-item id="SwitchDayNight" label="@Strings.SwitchDayNight"></toggle-menu-item>
		<menu-item id="keyOW" label="@Strings.keyOW"></menu-item>
		<menu-item id="DF" label="@Strings.DF"></menu-item>
		<menu-item id="T1TZ" label="@Strings.T1TZ"></menu-item>
		<menu-item id="PrU" label="@Strings.PrU"></menu-item>
		<menu-item id="WU" label="@Strings.WU"></menu-item>
	    <toggle-menu-item id="MilFt" label="@Strings.MilFt"></toggle-menu-item>
		<toggle-menu-item id="HFt01" label="@Strings.HFt01"></toggle-menu-item>
		
		<menu-item id="G" label="@Strings.SettingsGlobal"></menu-item>
		<menu-item id="D" label="@Strings.SettingsDay"></menu-item>
		<menu-item id="N" label="@Strings.SettingsNight"></menu-item>
	</menu2>
	
	<menu2 id="PropertiesMenu" title="@Strings.SettingsMenu">

			<menu-item id="Theme" label="@Strings.Theme"></menu-item>
		    <menu-item id="WType" label="@Strings.WType"></menu-item>
		    <toggle-menu-item id="WShowWindWidget" label="@Strings.WShowWindWidget"></toggle-menu-item>
		    <toggle-menu-item id="ShowTopFields" label="@Strings.ShowTopFields"></toggle-menu-item>
		    
			<!--STATUS FIELDS -->
			<menu-item id="SF0" label="@Strings.SF0"></menu-item>
			<menu-item id="SF1" label="@Strings.SF1"></menu-item>
			<menu-item id="SF2" label="@Strings.SF2"></menu-item>
			<menu-item id="SF3" label="@Strings.SF3"></menu-item>
			<menu-item id="SF4" label="@Strings.SF4"></menu-item>
			<menu-item id="SF5" label="@Strings.SF5"></menu-item>
			
		
			<!--FIELSDS TYPES -->
			<menu-item id="F6" label="@Strings.F6"></menu-item>
			<menu-item id="F7" label="@Strings.F7"></menu-item>
			<menu-item id="F0" label="@Strings.F0"></menu-item>
			<menu-item id="F1" label="@Strings.F1"></menu-item>
			<menu-item id="F2" label="@Strings.F2"></menu-item>
			<menu-item id="F3" label="@Strings.F3"></menu-item>
			<menu-item id="F4" label="@Strings.F4"></menu-item>
			<menu-item id="F5" label="@Strings.F5"></menu-item>
	</menu2>
	
	<menu2 id="ThemeMenu" title="">
		<menu-item id="id0" label="@Strings.ThemeDark" ></menu-item>
		<menu-item id="id1" label="@Strings.ThemeLight" ></menu-item>
	</menu2>

	<menu2 id="PrUressureUnitMenu" title="">
		<menu-item id="id0" label="@Strings.PrUMmHg" ></menu-item>
		<menu-item id="id1" label="@Strings.PrUPsi" ></menu-item>
		<menu-item id="id2" label="@Strings.PrUInchHg" ></menu-item>
		<menu-item id="id3" label="@Strings.PrUBar" ></menu-item>
		<menu-item id="id4" label="@Strings.PrUKPa" ></menu-item>
	</menu2>

	<menu2 id="WUindSpeedUnitMenu" title="">
		<menu-item id="id0" label="@Strings.SpeedUnitMSec" ></menu-item>
		<menu-item id="id1" label="@Strings.SpeedUnitKmH" ></menu-item>
		<menu-item id="id2" label="@Strings.SpeedUnitMileH" ></menu-item>
		<menu-item id="id3" label="@Strings.SpeedUnitFtSec" ></menu-item>
		<menu-item id="id4" label="@Strings.SpeedUnitBof" ></menu-item>
		<menu-item id="id5" label="@Strings.SpeedUnitKnots" ></menu-item>
	</menu2>

	<menu2 id="StatusFieldMenu" title="">
		<menu-item id="id18" label="@Strings.FIELD_TYPE_CONNECTED" ></menu-item>
		<menu-item id="id19" label="@Strings.FIELD_TYPE_NOTIFICATIONS" ></menu-item>
		<menu-item id="id24" label="@Strings.FIELD_TYPE_NOTIFICATIONS_COUNT" ></menu-item>
		<menu-item id="id20" label="@Strings.FIELD_TYPE_DND" ></menu-item>
		<menu-item id="id21" label="@Strings.FIELD_TYPE_ALARMS" ></menu-item>
		<menu-item id="id25" label="@Strings.FIELD_TYPE_ALARMS_COUNT" ></menu-item>
		<menu-item id="id22" label="@Strings.FIELD_TYPE_AMPM" ></menu-item>
		<menu-item id="id23" label="@Strings.FIELD_TYPE_SECONDS" ></menu-item>
		<menu-item id="id12" label="@Strings.FIELD_TYPE_EMPTY" ></menu-item>
	</menu2>

	<menu2 id="FieldMenu" title="">
		<menu-item id="id0" label="@Strings.FIELD_TYPE_HR"></menu-item>
		<menu-item id="id1" label="@Strings.FIELD_TYPE_STEPS"></menu-item>
		<menu-item id="id2" label="@Strings.FIELD_TYPE_PRESSURE"></menu-item>
		<menu-item id="id3" label="@Strings.FIELD_TYPE_TEMPERATURE"></menu-item>
		<menu-item id="id4" label="@Strings.FIELD_TYPE_CALORIES"></menu-item>
		<menu-item id="id5" label="@Strings.FIELD_TYPE_DISTANCE"></menu-item>
		<menu-item id="id6" label="@Strings.FIELD_TYPE_FLOOR"></menu-item>
		<menu-item id="id7" label="@Strings.FIELD_TYPE_ELEVATION"></menu-item>
		<menu-item id="id8" label="@Strings.FIELD_TYPE_SUN_EVENT"></menu-item>
		<menu-item id="id9" label="@Strings.FIELD_TYPE_SUNRISE"></menu-item>
		<menu-item id="id10" label="@Strings.FIELD_TYPE_SUNSET"></menu-item>
		<menu-item id="id11" label="@Strings.FIELD_TYPE_TIME1"></menu-item>
		<menu-item id="id13" label="@Strings.FIELD_TYPE_ACTIVE_DAY"></menu-item>
		<menu-item id="id14" label="@Strings.FIELD_TYPE_ACTIVE_WEEK"></menu-item>
		<menu-item id="id15" label="@Strings.FIELD_TYPE_O2"></menu-item>
		<menu-item id="id16" label="@Strings.FIELD_TYPE_SOLAR_CHARGE"></menu-item>
		<menu-item id="id17" label="@Strings.FIELD_TYPE_WEIGHT"></menu-item>
		<menu-item id="id26" label="@Strings.FIELD_TYPE_WEATHER_PRESSURE"></menu-item>
		<menu-item id="id27" label="@Strings.FIELD_TYPE_WEATHER_HUM"></menu-item>
		<menu-item id="id28" label="@Strings.FIELD_TYPE_WEATHER_VISIBILITY"></menu-item>
		<menu-item id="id29" label="@Strings.FIELD_TYPE_WEATHER_WIND_SPEED"></menu-item>
		<menu-item id="id30" label="@Strings.FIELD_TYPE_WEATHER_WIND_DEG"></menu-item>
		<menu-item id="id31" label="@Strings.FIELD_TYPE_WEATHER_UVI"></menu-item>
		<menu-item id="id32" label="@Strings.FIELD_TYPE_WEATHER_DEW_POINT"></menu-item>
		<menu-item id="id12" label="@Strings.FIELD_TYPE_EMPTY"></menu-item>
	</menu2>

	<menu2 id="WidgetTypeMenu" title="">
		<menu-item id="id0" label="@Strings.WTypeWeather"></menu-item>
		<menu-item id="id1" label="@Strings.WTypeHeartRateHistory"></menu-item>
		<menu-item id="id2" label="@Strings.WTypeSaturationHistory"></menu-item>
		<menu-item id="id3" label="@Strings.WTypeTemperatureHistory"></menu-item>
		<menu-item id="id4" label="@Strings.WTypePressureHistory"></menu-item>
		<menu-item id="id5" label="@Strings.WTypeElevationHistory"></menu-item>
	</menu2>

</menus>